@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;500;700&display=swap');

body {
    height: 100vh;
    margin: 0;
    font-family: 'Teko', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

header h1 {
    text-align: center;
    background: #22577A;
    font-weight: 700;
    font-size: 36px;
    color: #F3F1F5;
    padding-top: 4px;
}

section {
    background:#38A3A5;
}

.mg-t {
    height: 5vh;
}

.card {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    background: #80ED99;
    padding: 15px;
    border-radius: 5px;
}

.card-img {
    width: 8vh;
}

.title {
    color: #22577A;
    font-size: 30px;
    font-weight: 500;
}

footer {
    background: #22577A;
    display: flex;
    justify-content: space-between;
}

footer h1 {
    font-weight: 700;
    font-size: 28px;
    color: #F1ECC3;
    padding-left: 10px;
    padding-top: 4px;
}

footer h2 {
    font-weight: 500;
    font-size: 24;
    color: #C9D8B6;
    padding-top: 7px;
    padding-right: 10px;
}